<html>
  <head>
    <title>Build Lamp</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/dark-orange.css">
    <script type="text/javascript" src="static/build-lamp.js"></script>
  </head>
  <body>
    <h1>Build Lamp</h1>
    <h3>Configuration</h3>
    <textarea rows='25' cols='60' id='config'>{{ config }}</textarea>

    <h3>Latest run</h3>
    <pre id='stdout'>{{ latest.stdout }}</pre>
    <pre id='stderr'>{{ latest.stderr }}</pre>
    <button id="trigger">Trigger</button>
    <progress id='progress' style="display: none"></progress>
  </body>
</html>
